.crypto-tracking {
  &__wrapper {
    background-color: #fff;
    border-radius: 5px;
  }

  &__head-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    @media (max-width: 670px) {
      padding: 5px 10px;
    }
  }

  &__title {
    flex: 1;
  }

  &__header {
    background-color: #c2d7f9;
    border-bottom: 1px solid #68a0f9;
  }

  &__row {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
    @media (max-width: 670px) {
      padding: 5px;
    }
    &:not(.crypto-tracking__header) {
      &:hover {
        transition: 0.3s;
        background-color: #fffdc5;
      }
    }
    &:last-child {
      border-radius: 0px 0px 5px 5px;
    }
  }

  &__column {
    flex: 25%;
    padding: 5px;
    &--name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      & img {
        width: 30px;
        height: 30px;
        margin-right: 6px;
        background-color: inherit;
        @media (max-width: 670px) {
          width: 15px;
          height: 15px;
        }
      }
    }
    &--price-head {
      display: flex;
      justify-content: center;
      & span {
        margin-right: 7px;
      }
      @media (max-width: 670px) {
        flex-direction: column;
      }
    }
  }
}

.star {
  width: 35px;
  height: 35px;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    fill: #fcac6f;
  }
  &--favorite {
    fill: #ff0707;
  }
}
