.converter {
  &__top {
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
  }

  &__title {
    flex: 1;
  }

  &__navigate-btn {
  }

  &__main {
    background-color: #efedd5;
    display: flex;
    padding: 50px;
  }

  &__select-block {
    display: flex;
    height: 35px;
    flex: 50%;
    margin-right: 45px;
    & input {
      flex: 1;
      padding: 0px 15px 0px 10px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    & select {
      background-color: #f7a92c;
      padding: 3px;
    }
  }

  &__output-block {
    display: flex;
    height: 35px;
    flex: 50%;
    & input {
      flex: 1;
      padding: 0px 15px 0px 10px;
      background-color: #fffcf9;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    & select {
      background-color: #f7a92c;
      padding: 3px;
    }
  }
}
