body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  word-break: break-all;
}

.app-wrapper {
  padding: 150px 0px 100px 0px;
}

.bg-wrapper {
  background-color: rgba($color: #000, $alpha: 0.5);
  min-height: 100vh;
}

.container {
  max-width: 900px;
  padding: 0px 10px;
  margin: 0 auto;
}

.head-title {
  font-size: 23px;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
}

.navigate-btn {
  letter-spacing: 1px;
  padding: 7px 7px;
  font-size: 18px;
  background-color: #fffdc5;
  border: 2px solid #fffdc5;
  transition: 0.3s;
  display: block;
  min-width: 100px;
  text-align: center;
  &:hover {
    background-color: #fff;
    color: #f79825;
    border: 2px solid #f79825;
  }
}
